<header id="sevenyan-header" class="header js_header" >
  <nav class="navbar navbar-default js_navbar navbar-dark" style="background-color:#343a40">
    <!--
    https://www.webdesignrankings.com/resources/lolcolors/
    #aace6e ed9282-->
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-site-nav">
        <li class="navbar-item-site-user " >
            <div class="logo-holder w-12 hidden-xs" >
                  <img src="/static/img/logo.png"  style="width:100%;height:36px"
                   alt="Shutterstock 库存照片、Royalty-Free 图片、矢量图、视频和音乐"
                    title="Shutterstock 库存照片、Royalty-Free 图片、矢量图、视频和音乐">
              </div>
        </li>
        {{range $cti, $ctobj := .CategoryList}}
        <li class="navbar-item-site-user">
          <a href="{{$ctobj.Urll}}" data-track="click.topNav.music">{{$ctobj.Name}}</a>
        </li>
        {{end}}
      </ul>
      <ul class="nav navbar-nav  navbar-site-contact">
        <li class="dropdown dropdown-language hidden-xs">
          <a class="dropdown-toggle navbar-link" href="#" data-toggle="dropdown" data-track="click.topNav.language-expand">
            <i class="sstk-icon icon-globe-alt"></i>
            置灰
            <i class="sstk-icon icon-caret-down" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="/cs/" data-track="click.topNav.language-cs">置灰</a>
            </li>

            <li>
              <a href="/da/" data-track="click.topNav.language-da">常亮</a>
            </li>

            <li >
              <a href="/de/" data-track="click.topNav.language-de">粉系</a>
            </li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-site-nav navbar-right ">

        <li class="navbar-item-site-user dropdown dropdown-content-type ">
          <a href="/use" data-track="click.topNav.images" id="dropdown-label-content-type-site-nav-images"
            aria-haspopup="true">
            账户
            <i class="sstk-icon icon-caret-down hidden-xs" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item-content-type-site-nav"><a href="https://www.sevenyan.com/zh/photos" data-track="click.topNav.images-photos">照片</a></li>
            <li class="dropdown-item-content-type-site-nav"><a href="https://www.sevenyan.com/zh/vectors" data-track="click.topNav.images-vectors">矢量图</a></li>
          </ul>
        </li>
        <li class="navbar-item-site-user">
          <a class="navbar-link call-to-action"  href="/subscribe">
            历史
            <i class="sstk-icon icon-circle-chevron-right-blue" ></i>
          </a>
        </li>
        
        

        <!--
        <li class="navbar-item-site-nav dropdown dropdown-content-type active">
          <a href="/zh/" data-track="click.topNav.images" id="dropdown-label-content-type-site-nav-images"
            aria-haspopup="true">
            图片
            <i class="sstk-icon icon-caret-down hidden-xs" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown-label-content-type-site-nav-images">
            <li class="dropdown-item-content-type-site-nav"><a href="https://www.sevenyan.com/zh/photos" data-track="click.topNav.images-photos">照片</a></li>
            <li class="dropdown-item-content-type-site-nav"><a href="https://www.sevenyan.com/zh/vectors" data-track="click.topNav.images-vectors">矢量图</a></li>
            <li class="dropdown-item-content-type-site-nav"><a href="https://www.sevenyan.com/zh/explore/royalty-free-images"
                data-track="click.topNav.all-categories">全部类别</a></li>
          </ul>
        </li>

        -->
      </ul>

    </div>
  </nav>
  <button type="button" class="pull-right js_hamburger hidden-sm hidden-md hidden-lg hamburger">
    <div class="burgers"></div>
  </button>


  <div class="container-fluid brand-bar" style="background-color:white">
    <div class="brand pull-left">
      <a href="/zh/" data-track="click.header.sevenyanLogo">
        <div class="inherit"><span class="visuallyhidden">sevenyan 官方徽标</span>
          <img class="sevenyan-logo" alt="sevenyan 库存照片、Royalty-Free 图片、矢量图、视频和音乐"
            title="sevenyan 库存照片、Royalty-Free 图片、矢量图、视频和音乐" src="/static/img/logo.png"></div>
      </a>
    </div>

    <span class="delimiter btn-navbar-delimiter pull-right"></span>

    <script type="text/template" class="js_autocomplete-suggestible">
      <span class="recent-searches-title h5">最近搜索</span>
      <a href="#" class="recent-searches-clear">清除</a>
    </script>
    <div class="search-bar">
      <div class="search-form-wrapper">
        <form method="GET" action="/search" class="search-form  form-emphasis pull-left js_main-search-form">
          <input type="hidden" name="search_source" value="base_search_form">
          <input type="hidden" name="language" value="zh">
          <div class="input-group">
            <div class="search-field-wrapper">
              <input class="form-control search-field js-typeahead js_search-field js-initial-focus" type="search" name="searchterm"
                value="" data-media-type="all" data-track="click.searchBar.textField" maxlength="2000" placeholder="搜索免版税库存图片"
                autocomplete="off">
              <div class="js_suggestible typeahead dropdown-menu" role="listbox" style="display: none;"></div>
            </div>
            <div class="input-group-addon ris-camera-group">

              <span id="reverse-image-camera" data-track="click.reverseImageSearch.cameraIcon" class="hidden-xs hidden-mo sstk-icon icon-reverse-search js_ris-cta"
                title="" data-original-title="<strong>新推出！</strong><br /> 利用图片代替文本在 sevenyan 进行搜索，以发现类似图片。">
              </span>

            </div>
            <div class="dropdown dropdown-content-type-search input-group-addon js_dropdown-content-type">
              <input class="search-media-type-input js_search_media_type" type="hidden" name="image_type" value="all">
              
              <ul class="dropdown-menu" aria-labelledby="dropdown-label-content-type-search">
                <li data-content-type="all" data-action="/search" data-placeholder="搜索免版税库存图片">
                  <a class="dropdown-item-link" data-track="click.searchBar.allImages">所有图片</a>
                </li>
                <li data-content-type="photo" data-action="/search" data-placeholder="搜索免版税库存照片">
                  <a class="dropdown-item-link dropdown-item-link-sub" data-track="click.searchBar.imagesPhotos">照片</a>
                </li>
                <li data-content-type="vector" data-action="/search" data-placeholder="搜索免版税库存矢量图">
                  <a class="dropdown-item-link dropdown-item-link-sub" data-track="click.searchBar.imagesVectors">矢量图</a>
                </li>
                <li data-content-type="illustration" data-action="/search" data-placeholder="搜索免版税库存插图">
                  <a class="dropdown-item-link dropdown-item-link-sub" data-track="click.searchBar.imagesIllustrations">插图</a>
                </li>
                <li data-content-type="editorial" data-action="/editorial/search" data-placeholder="搜索我们的编辑精选图片库">
                  <a class="dropdown-item-link" data-track="click.searchBar.editorial">编辑</a>
                </li>
                <li data-content-type="video" data-action="https://www.sevenyan.com/video/search" data-placeholder="搜索我们的库存视频">
                  <a class="dropdown-item-link" data-track="click.searchBar.video">影片</a>
                </li>
                <li data-content-type="music" data-action="https://www.sevenyan.com/music/search" data-placeholder="搜索我们的库存音乐库">
                  <a class="dropdown-item-link" data-track="click.searchBar.music">音乐</a>
                </li>
              </ul>
            </div>
            <span class="input-group-btn">
              <button class="btn btn-inverse" data-track="click.searchBar.submitButton" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<div class="visible-sm visible-md visible-lg" style="width:100%; height:36px;background-color: goldenrod;"></div>
<div class="hidden-sm hidden-md hidden-lg" style="width:100%; height:89px;background-color: rgb(204, 228, 120);"></div>